In [4]:
import pandas as pd
import numpy as np

# load the dataset
data_set = pd.read_csv('./dataset-breast-cancer.csv')

# preview the dataset
data_set.head()

# dataset information
data_set.info()

# summary of data
data_set.describe(include='all')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4024 entries, 0 to 4023
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Patient_ID              4024 non-null   object
 1   Month_of_Birth          4024 non-null   int64
 2   Age                     4015 non-null   float64
 3   Sex                     4020 non-null   object
 4   Occupation              43 non-null     object
 5   T_Stage                 4024 non-null   object
 6   N_Stage                 4024 non-null   object
 7   6th_Stage               4024 non-null   object
 8   Differentiated          4024 non-null   object
 9   Grade                   4024 non-null   int64
 10  A_Stage                 4024 non-null   object
 11  Tumor_Size              4021 non-null   float64
 12  Estrogen_Status         4024 non-null   object
 13  Progesterone_Status     4024 non-null   object
 14  Regional_Node_Examined  4023 non-null   float64
 15  Reginol_Node_Positive   4024 non-null   int64
 16  Survival_Months         4024 non-null   int64
 17  Mortality_Status        4024 non-null   object
dtypes: float64(3), int64(4), object(11)
memory usage: 566.0+ KB

,Patient_ID,Month_of_Birth,Age,Sex,Occupation,T_Stage,N_Stage,6th_Stage,Differentiated,Grade,A_Stage,Tumor_Size,Estrogen_Status,Progesterone_Status,Regional_Node_Examined,Reginol_Node_Positive,Survival_Months,Mortality_Status
count,4024,4024.000000,4015.000000,4020,43,4024,4024,4024,4024,4024.000000,4024,4021.000000,4024,4024,4023.000000,4024.000000,4024.000000,4024
unique,4024,NaN,NaN,2,40,4,3,5,4,NaN,2,NaN,2,2,NaN,NaN,NaN,7
top,A0012,NaN,NaN,Female,House Person,T2,N1,IIA,Moderately differentiated,NaN,Regional,NaN,Positive,Positive,NaN,NaN,NaN,Alive
freq,1,NaN,NaN,4001,2,1786,2732,1305,2351,NaN,3932,NaN,3755,3326,NaN,NaN,NaN,3399
mean,NaN,6.481362,54.107098,NaN,NaN,NaN,NaN,NaN,NaN,2.150596,NaN,30.419299,NaN,NaN,14.373602,4.158052,71.472167,NaN
std,NaN,3.475442,11.715528,NaN,NaN,NaN,NaN,NaN,NaN,0.638234,NaN,21.161080,NaN,NaN,8.129293,5.109331,25.361855,NaN
min,NaN,1.000000,-50.000000,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,-75.000000,NaN,NaN,1.000000,1.000000,1.000000,NaN
25%,NaN,3.000000,47.000000,NaN,NaN,NaN,NaN,NaN,NaN,2.000000,NaN,16.000000,NaN,NaN,9.000000,1.000000,56.000000,NaN
50%,NaN,6.000000,54.000000,NaN,NaN,NaN,NaN,NaN,NaN,2.000000,NaN,25.000000,NaN,NaN,14.000000,2.000000,73.000000,NaN
75%,NaN,10.000000,61.000000,NaN,NaN,NaN,NaN,NaN,NaN,3.000000,NaN,38.000000,NaN,NaN,19.000000,5.000000,90.000000,NaN
max,NaN,12.000000,502.000000,NaN,NaN,NaN,NaN,NaN,NaN,4.000000,NaN,140.000000,NaN,NaN,61.000000,46.000000,760.000000,NaN